<ion-header>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800&display=swap" rel="stylesheet">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>ONEFORALL</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <ion-card [routerLink]="['/restpage']">
                <img src="https://static.tildacdn.com/tild3830-3137-4162-b262-396566313132/IMG_2646.JPG" />
                <ion-card-header style="padding-top: 5px;padding-bottom: 0;padding-left: 14px;">
                    <ion-card-title style="font-size: 16px;color:#2552A3;font-family: 'Montserrat';">3B CAFE</ion-card-title>
                    <ion-card-subtitle>Институтская</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content style="padding-top:0;padding-bottom: 0;padding-left: 14px;padding-right: 5px;">
                    <ion-row no-padding>
                        <ion-col style="min-width: 90px;padding-left: 0;padding-right:0;">
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                        </ion-col>
                        <ion-col text-center style="padding-right:0;padding-left: 0;">
                            <ion-icon ios="ios-pin" md="ios-pin"></ion-icon>
                            <span style="font-size:14px;">2,4 km</span>
                        </ion-col>
                        <ion-col text-center>
                            <ion-icon ios="ios-clock" md="md-clock"></ion-icon>
                            <span style="font-size:14px;">11-23</span>
                        </ion-col>
                        <ion-col style="background-color: #f75757;border-radius: 8px;margin-bottom: 10px;">
                            <span style="color: white;text-align: center;margin-bottom: 8px;font-size:16px;font-family: 'Montserrat';">RESERVE</span>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://chernomorka.kiev.ua/intro/images/intro/intro-optim.jpg" />
                <ion-card-header style="padding-top: 5px;padding-bottom: 0;padding-left: 14px;">
                    <ion-card-title style="font-size: 16px;color:#2552A3;font-family: 'Montserrat';">ЧЕРНОМОРКА</ion-card-title>
                    <ion-card-subtitle>Институтская</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content style="padding-top:0;padding-bottom: 0;padding-left: 14px;padding-right: 5px;">
                    <ion-row no-padding>
                        <ion-col style="min-width: 90px;padding-left: 0;padding-right:0;">
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                        </ion-col>
                        <ion-col text-center style="padding-right:0;padding-left: 0;">
                            <ion-icon ios="ios-pin" md="ios-pin"></ion-icon>
                            <span style="font-size:14px;">2,4 km</span>
                        </ion-col>
                        <ion-col text-center>
                            <ion-icon ios="ios-clock" md="md-clock"></ion-icon>
                            <span style="font-size:14px;">11-23</span>
                        </ion-col>
                        <ion-col style="background-color: #f75757;border-radius: 8px;margin-bottom: 10px;">
                            <span style="color: white;text-align: center;margin-bottom: 8px;font-size:16px;font-family: 'Montserrat';">RESERVE</span>
                        </ion-col>
                    </ion-row>

                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://chernomorka.kiev.ua/intro/images/intro/intro-optim.jpg" />
                <ion-card-header style="padding-top: 5px;padding-bottom: 0;padding-left: 14px;">
                    <ion-card-title style="font-size: 16px;color:#2552A3;font-family: 'Montserrat';">ЧЕРНОМОРКА</ion-card-title>
                    <ion-card-subtitle>Институтская</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content style="padding-top:0;padding-bottom: 0;padding-left: 14px;padding-right: 5px;">
                    <ion-row no-padding>
                        <ion-col style="min-width: 90px;padding-left: 0;padding-right:0;">
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                        </ion-col>
                        <ion-col text-center style="padding-right:0;padding-left: 0;">
                            <ion-icon ios="ios-pin" md="ios-pin"></ion-icon>
                            <span style="font-size:14px;">2,4 km</span>
                        </ion-col>
                        <ion-col text-center>
                            <ion-icon ios="ios-clock" md="md-clock"></ion-icon>
                            <span style="font-size:14px;">11-23</span>
                        </ion-col>
                        <ion-col style="background-color: #f75757;border-radius: 8px;margin-bottom: 10px;">
                            <span style="color: white;text-align: center;margin-bottom: 8px;font-size:16px;font-family: 'Montserrat';">RESERVE</span>
                        </ion-col>
                    </ion-row>

                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://chernomorka.kiev.ua/intro/images/intro/intro-optim.jpg" />
                <ion-card-header style="padding-top: 5px;padding-bottom: 0;padding-left: 14px;">
                    <ion-card-title style="font-size: 16px;color:#2552A3;font-family: 'Montserrat';">ЧЕРНОМОРКА</ion-card-title>
                    <ion-card-subtitle>Институтская</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content style="padding-top:0;padding-bottom: 0;padding-left: 14px;padding-right: 5px;">
                    <ion-row no-padding>
                        <ion-col style="min-width: 90px;padding-left: 0;padding-right:0;">
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                        </ion-col>
                        <ion-col text-center style="padding-right:0;padding-left: 0;">
                            <ion-icon ios="ios-pin" md="ios-pin"></ion-icon>
                            <span style="font-size:14px;">2,4 km</span>
                        </ion-col>
                        <ion-col text-center>
                            <ion-icon ios="ios-clock" md="md-clock"></ion-icon>
                            <span style="font-size:14px;">11-23</span>
                        </ion-col>
                        <ion-col style="background-color: #f75757;border-radius: 8px;margin-bottom: 10px;">
                            <span style="color: white;text-align: center;margin-bottom: 8px;font-size:16px;font-family: 'Montserrat';">RESERVE</span>
                        </ion-col>
                    </ion-row>

                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
   
   
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <ion-card [routerLink]="['/restpage']">
                <img src="https://static.tildacdn.com/tild3830-3137-4162-b262-396566313132/IMG_2646.JPG" />
                <ion-card-header style="padding-top: 5px;padding-bottom: 0;padding-left: 14px;">
                    <ion-card-title style="font-size: 16px;color:#2552A3;font-family: 'Montserrat';">3B CAFE</ion-card-title>
                    <ion-card-subtitle>Институтская</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content style="padding-top:0;padding-bottom: 0;padding-left: 14px;padding-right: 5px;">
                    <ion-row no-padding>
                        <ion-col style="min-width: 90px;padding-left: 0;padding-right:0;">
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                        </ion-col>
                        <ion-col text-center style="padding-right:0;padding-left: 0;">
                            <ion-icon ios="ios-pin" md="ios-pin"></ion-icon>
                            <span style="font-size:14px;">2,4 km</span>
                        </ion-col>
                        <ion-col text-center>
                            <ion-icon ios="ios-clock" md="md-clock"></ion-icon>
                            <span style="font-size:14px;">11-23</span>
                        </ion-col>
                        <ion-col style="background-color: #f75757;border-radius: 8px;margin-bottom: 10px;">
                            <span style="color: white;text-align: center;margin-bottom: 8px;font-size:16px;font-family: 'Montserrat';">RESERVE</span>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://chernomorka.kiev.ua/intro/images/intro/intro-optim.jpg" />
                <ion-card-header style="padding-top: 5px;padding-bottom: 0;padding-left: 14px;">
                    <ion-card-title style="font-size: 16px;color:#2552A3;font-family: 'Montserrat';">ЧЕРНОМОРКА</ion-card-title>
                    <ion-card-subtitle>Институтская</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content style="padding-top:0;padding-bottom: 0;padding-left: 14px;padding-right: 5px;">
                    <ion-row no-padding>
                        <ion-col style="min-width: 90px;padding-left: 0;padding-right:0;">
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                        </ion-col>
                        <ion-col text-center style="padding-right:0;padding-left: 0;">
                            <ion-icon ios="ios-pin" md="ios-pin"></ion-icon>
                            <span style="font-size:14px;">2,4 km</span>
                        </ion-col>
                        <ion-col text-center>
                            <ion-icon ios="ios-clock" md="md-clock"></ion-icon>
                            <span style="font-size:14px;">11-23</span>
                        </ion-col>
                        <ion-col style="background-color: #f75757;border-radius: 8px;margin-bottom: 10px;">
                            <span style="color: white;text-align: center;margin-bottom: 8px;font-size:16px;font-family: 'Montserrat';">RESERVE</span>
                        </ion-col>
                    </ion-row>

                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://chernomorka.kiev.ua/intro/images/intro/intro-optim.jpg" />
                <ion-card-header style="padding-top: 5px;padding-bottom: 0;padding-left: 14px;">
                    <ion-card-title style="font-size: 16px;color:#2552A3;font-family: 'Montserrat';">ЧЕРНОМОРКА</ion-card-title>
                    <ion-card-subtitle>Институтская</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content style="padding-top:0;padding-bottom: 0;padding-left: 14px;padding-right: 5px;">
                    <ion-row no-padding>
                        <ion-col style="min-width: 90px;padding-left: 0;padding-right:0;">
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                        </ion-col>
                        <ion-col text-center style="padding-right:0;padding-left: 0;">
                            <ion-icon ios="ios-pin" md="ios-pin"></ion-icon>
                            <span style="font-size:14px;">2,4 km</span>
                        </ion-col>
                        <ion-col text-center>
                            <ion-icon ios="ios-clock" md="md-clock"></ion-icon>
                            <span style="font-size:14px;">11-23</span>
                        </ion-col>
                        <ion-col style="background-color: #f75757;border-radius: 8px;margin-bottom: 10px;">
                            <span style="color: white;text-align: center;margin-bottom: 8px;font-size:16px;font-family: 'Montserrat';">RESERVE</span>
                        </ion-col>
                    </ion-row>

                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img src="https://chernomorka.kiev.ua/intro/images/intro/intro-optim.jpg" />
                <ion-card-header style="padding-top: 5px;padding-bottom: 0;padding-left: 14px;">
                    <ion-card-title style="font-size: 16px;color:#2552A3;font-family: 'Montserrat';">ЧЕРНОМОРКА</ion-card-title>
                    <ion-card-subtitle>Институтская</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content style="padding-top:0;padding-bottom: 0;padding-left: 14px;padding-right: 5px;">
                    <ion-row no-padding>
                        <ion-col style="min-width: 90px;padding-left: 0;padding-right:0;">
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
                        </ion-col>
                        <ion-col text-center style="padding-right:0;padding-left: 0;">
                            <ion-icon ios="ios-pin" md="ios-pin"></ion-icon>
                            <span style="font-size:14px;">2,4 km</span>
                        </ion-col>
                        <ion-col text-center>
                            <ion-icon ios="ios-clock" md="md-clock"></ion-icon>
                            <span style="font-size:14px;">11-23</span>
                        </ion-col>
                        <ion-col style="background-color: #f75757;border-radius: 8px;margin-bottom: 10px;">
                            <span style="color: white;text-align: center;margin-bottom: 8px;font-size:16px;font-family: 'Montserrat';">RESERVE</span>
                        </ion-col>
                    </ion-row>

                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>

</ion-content>
