<ion-header>
  <ion-toolbar>
    <ion-title>restpage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="https://static.tildacdn.com/tild3830-3137-4162-b262-396566313132/IMG_2646.JPG"> </ion-img>
    <ion-row style="margin-top: 28px;padding-top:0;padding-bottom:0;">
        <ion-col></ion-col>
        <ion-col style="text-align: center;padding:0;">
            <ion-label style="font-size: 26px;color:#2552A3;font-family: 'Montserrat';font-weight: bold;">3B CAFE</ion-label>
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <ion-row style="margin-top: -8px;">
        <ion-col></ion-col>
        <ion-col style="text-align: center;padding:0;">
            <ion-label style="font-size: 16px;color:#2552A3;font-family: 'Montserrat';">instituckaya</ion-label>
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <ion-row>
        <ion-col></ion-col>
        <ion-col style="text-align: center;">
            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
            <ion-icon style="color:#F75757;font-size: 18px" ios="ios-star" md="ios-star"></ion-icon>
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <ion-row style="padding-top:0;padding-bottom:0;">
        <ion-col></ion-col>
        <ion-col style="text-align: center;padding:0;">
            <ion-label style="font-size: 15px;color:#2552A3;font-family: 'Montserrat';font-weight: bold;">
                European,seafood,mediterranean
            </ion-label>
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <ion-row style="padding-top:8px;padding-bottom:0;">
        <ion-col></ion-col>
        <ion-col style="text-align: center;padding:0;">
            <div style="min-width: 200px;">
                <ion-icon ios="ios-pin" md="ios-pin" style="color:#AFAFAF"></ion-icon>
                <span style="font-size:20px;color:#AFAFAF">2,4 km</span>
                <ion-icon ios="ios-clock" md="md-clock" style="color:#AFAFAF;margin-left:30px;"></ion-icon>
                <span style="font-size:20px;color:#AFAFAF">11-23</span>
            </div>

        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <ion-row style="padding-top:8px;padding-bottom:0;">
        <ion-col></ion-col>
        <ion-col style="text-align: center;padding:0;min-width:200px;color:#AFAFAF;">
            <ion-label>Average check <b> 300 UAH</b></ion-label>
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <ion-row style="padding-top:8px;padding-bottom:0;">
        <ion-col></ion-col>
        <ion-col style="text-align: center;padding:0;min-width:80vw;color:#AFAFAF;font-size: 12px;">
            <ion-label>
                "Chernomorka" offers over 30 positions - from crucian carp and gobies to sea fox and stingray. Faced with sea bass, flounder, horse mackerel and rapan meat, resting on the feather bed of ice, you decide what to do best - cook at home or eat on the spot. The price depends on this: for example, 100 grams of fresh red mullet will cost 32 hryvnias, fried - at 82
            </ion-label>
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <ion-row style="padding-top:8px;padding-bottom:0;">
        <ion-col></ion-col>
        <ion-col style="min-width:220px">
            <img style="margin:5px;border-radius:30px;width:60px;height:60px;background-color:#2552A3" src="./assets/img/icons-04.png" />
            <img style="margin:5px;border-radius:30px;width:60px;height:60px;background-color:#2552A3" src="./assets/img/icons-05.png" />
            <img style="margin:5px;border-radius:30px;width:60px;height:60px;background-color:#2552A3" src="./assets/img/icons-06.png" />
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <ion-row style="padding-top:8px;padding-bottom:0;">
        <ion-col></ion-col>
        <ion-col style="">
            <ion-button style="--background: #f75757;border-radius: 8px;margin-bottom: 10px;"> RESERVE </ion-button>
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
</ion-content>
